<!DOCTYPE html>
<html>
  <head>
    <title>SoloProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %> 
    <div class="row">
      <div class="col-md-3">
        <%= render "shared/nav" %>
    </div>
    <div class="wrapper">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
    <% else %>
    <div class="welcome">
    <%= render "shared/welcome" %>
    </div>
    <% end %>
  </body>
</html>
